import 
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-body);
  font-weight: 500;
  line-height: 2.7rem;
  color: var(--color-text-body);
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  margin-bottom: 3rem;
}
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  color: var(--color-text-headings);
}
h1 {
  font-size: 5.5rem;
  line-height: 5.7rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 4.5rem;
  line-height: 4.9rem;
  margin-bottom: 3rem;
}
h3 {
  font-size: 3.5rem;
  line-height: 3.8rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 2.8rem;
  line-height: 3.1rem;
  margin-bottom: 1rem;
}
p,
a {
  font-size: 1.8rem;
}
input,
textarea,
button,
textarea,
select,
label,
fieldset {
  font: inherit;
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3.1rem;
    line-height: 3.4rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  p,
  a {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  input,
  textarea,
  button,
  textarea,
  select,
  label,
  fieldset {
    font: inherit;
    font-size: 1.6rem;
  }
}

a {
  color: var(--color-text-body);
  text-decoration: underline;
}

.emphasis {
  font-family: var(--font-body);
  font-weight: 500;
  font-style: italic;
  font-size: 3rem;
  line-height: 4.5rem;
  color: var(--color-text-headings);
}

@media (max-width: 600px) {
  .emphasis {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}
